{% extends "master.html" %}

{% block navbar %}
   {% include 'nav-bar.html' %}
{% endblock %}

{% block left-menu %}
   {% include 'left-menu.html' %}
{% endblock %}

{% block content %}
<div class="card">
  <h5 class="card-header">Danh sách khóa học</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Year</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for item in courses %}
        <tr class="table-default">
          <td><i class="bx bxl-sketch bx-md text-warning me-4"></i> <span>{{ item.name }}</span></td>
          <td>{{ item.start_date.year }}</td>  <!-- Hiển thị năm của khóa học -->
          <td>{{ item.start_date }}</td>
          <td>{{ item.end_date }}</td>
          <td>{{ item.active|yesno:"Yes,No" }}</td>  <!-- Hiển thị trạng thái active -->
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="edit-course/{{ item.id }}">
                  <i class="bx bx-edit-alt me-1"></i> Edit
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-trash me-1"></i> Delete
                </a>
              </div>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">No courses available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block footer %}
   {% include 'footer.html' %}
{% endblock %}
